html {
    height: 100%;
}

body {
    min-height: 100%;
}

a.contact-us-link {
    text-decoration: none;
}
a.contact-us-link:hover,
a.contact-us-link:focus {
    text-decoration: underline;
}

.bkg-welcome {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("/img/bkg-welcome_5955x2092.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-resource {
    max-width: 100px;
    max-height: 100px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.yellowtail {
    font-family: 'Yellowtail', cursive;
}

.size125 {
    font-size: 1.25em;
}

.soccer-gold {
    color: #ffff00;
}